.cursor-prev {

    cursor: url(cursor-prev.cur), auto;
    /*IE & Edge*/

    cursor: url(cursor-prev.svg) 16 16, auto;
    /*Rest browsers*/

}

.cursor-next {

    cursor: url(cursor-next.cur), auto;
    /*IE & Edge*/

    cursor: url(cursor-next.svg) 16 16, auto;
    /*Rest browsers*/

}