@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-font-size: 12px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --heading-font-size: 12px;
  --heading-font-style: normal;
  --heading-font-weight: 400;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;

  --font-heading: var(--font-museoModerno);
  --font-body: var(--font-cairo)
}

@media (prefers-color-scheme: dark) {
  :root {}
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: var(--font-heading);

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, #f3ec78, #40879a, #d7f4e2);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation 3s ease infinite;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section {
  padding: 8rem 2rem 0 2rem;
  min-height: 80dvh;

}

@media (min-width: 768px) {
  section {
    padding: 10rem 16rem 6rem 16rem;
    margin-bottom: 4rem;
    min-height: 100dvh;

  }
}